.drivers-list-item {
    margin: 0 0 15px 0;
}
.drivers-list-item div {
    padding: 5px 10px 10px;
}
.drivers-list-item .box-head {
    border: 1px solid #666666;
}
.drivers-list-item .box-body {
    background-color: #cccccc;
}
.drivers-list-item .tick-box-icon {
    font-size: 26px;
    line-height: 26px;
    margin-right: 5px;
}
.drivers-list-item .green {
    background-color: var(--theme-color);
}
.drivers-list-item .dark {
    font-weight: 10;
    font-size: 16px;
    letter-spacing: 2px;
    background-color: #444b4b;
    color: #e5f1e2;
}
.drivers-list-item .triangle {
    font-size: 20px;
    color: #ffffff;
    float: right;
}
