.admin-menu {
    alignment: left;
    background-color: #333333;
    color: #eeddee;
    min-height: 400px;
    height: 100%;
    margin: 0;
    list-style:none;
    padding-left: 4px;
    padding-right: 4px;
    width: fit-content;
}
.admin-menu-item {
    display: block;
}

.admin-menu-item a {
    alignment: left;
    padding: 13px;
    display: block;
    text-decoration: none;
    color: #cccccc;
}
.admin-menu-item a.active {
    background-color: #666666;
    color: #12c35a;
}

body {
    background: #f5eddd;
}

.main-column {
    alignment: left;
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: column;
}
