thead {
    color: #dff3d8;
    font-size: medium;
    font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif;
    background: #414741;
}

tr {
    text-align: center;
    border: 1px solid #212121;
}

td {
    color: #322e2e;
}


table {
    alignment: left;
    border-spacing: 10px;
    border: 1px solid gray;
}