/* Flexbox */
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.main-column {
  flex-basis : 0;
}
.side-column {
  flex-basis : 0;
}
.map {
  background-color: #f8fff0;
  width: 100%;
  min-height: 600px;
}
/* Media queries */
@media (max-width: 416px){

}
@media (min-width: 417px) and (max-width: 600px){
  .container {
    flex-direction: column;
    max-width:400px;
    margin: 0 auto;
  }
}
@media (min-width: 601px) and (max-width: 800px){
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  .main-column {
    flex-grow: 2;
  }
  .side-column {
    flex-grow: 1;
  }  
}
@media (min-width: 801px) {
  .container {
    max-width: 800px;
    margin: 0 auto;
  } 
  .main-column {
    flex-grow: 3;
  }
  .side-column {
    flex-grow: 1;
  } 
}
